[project]
	description = Solve the game 
[access "refs/*"]
	owner = group user/Michel Daviot (tyrcho)
[access "refs/for/refs/*"]
	read = group user/Michel Daviot (tyrcho)
	push = group user/Michel Daviot (tyrcho)
	label-Code-Review = -2..+2 group user/Michel Daviot (tyrcho)
	label-Verified = -1..+1 group user/Michel Daviot (tyrcho)
	rebase = group user/Michel Daviot (tyrcho)
	removeReviewer = group user/Michel Daviot (tyrcho)
	submit = group user/Michel Daviot (tyrcho)
[access "refs/heads/*"]
	read = group user/Michel Daviot (tyrcho)
	create = group user/Michel Daviot (tyrcho)
	push = +force group user/Michel Daviot (tyrcho)
	pushMerge = group user/Michel Daviot (tyrcho)
[access "refs/tags/*"]
	push = +force group user/Michel Daviot (tyrcho)
	pushTag = group user/Michel Daviot (tyrcho)
	pushSignedTag = group user/Michel Daviot (tyrcho)
